@layout AppLayout

<CenterScreen>
    <Card>
        <form method="post">
            <Input Name="username" Label="Username" Placeholder="Takasaki" />
            <Button Type="submit" Color="success" IsFull>Obter Sugestão</Button>
        </form>
    </Card>
</CenterScreen>