<button 
    type="@Type" 
    class="button @(string.IsNullOrWhiteSpace(Color) ? string.Empty : $"is-{Color}") @(IsFull ? "is-fullwidth" : string.Empty)"
        >@ChildContent</button>

@code {

    [Parameter] 
    public string Type { get; set; } = "button";

    [Parameter] 
    public string? Color { get; set; }

    [Parameter]
    [EditorRequired] 
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public bool IsFull { get; set; }

}