<div class="field">
    <label class="label">@Label</label>
    <div class="control">
        <input class="input" name="@Name" type="@Type" placeholder="@Placeholder">
    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public required string Label { get; set; }

    [Parameter] 
    public string Type { get; set; } = "text";
    
    [Parameter]
    public string? Placeholder { get; set; }
    
    [Parameter]
    [EditorRequired]
    public required string Name { get; set; }

}