.loading {
    font-size: 3rem;
    animation: spin 2s linear infinite;
}

.button-container {
    display: flex;
    align-items: flex-end;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}